@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300&display=swap');

@layer components{
    .input{
        border: 1px solid lightgray;
        border-radius: 999px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        max-width: 480px;
        padding-bottom: 8px;
    }
    .line{
        margin-left: 8px;
        margin-right: 8px;
        height: 12px;
        border: 1px solid #efefef;
    }
    .input:hover{
        box-shadow: 0px 0px 20px -8px gray;
    }
    .footer{
        width: 100%;
    }
    .input svg{
        color: grey;
        font-size: 19px;
    }
    .middle svg{
        color: #3B82F6;
        font-size: 19px;
    }
    .middle form:hover{
        box-shadow: 0px 0px 20px -4px gray;
    }
    .middle form:focus-within{
        box-shadow: 0px 0px 20px -4px gray;

    }
    .input input:focus{
        outline: none;
    }
    button.google{
        padding-left: 18px;
        padding-top: 4px;
        font-size: 13px;
        padding-bottom: 5px;
        border-radius: 3px;
        border: 1px solid transparent;
        padding-right: 18px;
    }
    button.google:hover{
        border: 1px solid lightgray;
    }
}